name: Create Azure VM

on:
  push:
    branches:
      - main

jobs:
  create-vm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}


      - name: Create Azure VM
        uses: azure/cli@v1
        with:
          inlineScript: |
            az vm create \
              --resource-group myResourceGroup \
              --name myVM \
              --image Ubuntu2204 \
              --admin-username azureuser \
              --generate-ssh-keys
      
      - name: Logout from Azure
        run: |
          az logout
        if: always()
